:root {
    --clr-black: #121A23;
    --clr-yellow: #FFEB3B;
    --clr-yellow-light: #FFF7CF;
    --clr-blue: #407CEA;
    --clr-blue-light: #D9EBFF;
    --clr-gray: #f9f9f9;
    --clr-green-light: #D3FFE1;
    --clr-red: #F46B6B;
    --clr-red-light: #FFE8E0;

    --ff-rubik: Rubik, sans-serif;
    --ff-inter: Inter, sans-serif;

    --shadow: 0px 1px 2px rgba(0, 0, 0, 0.03),
        0px 3px 9px rgba(0, 0, 0, 0.04);
    font-size: 16px;
}

body{
    background-color: var(--clr-gray);
    font-family: var(--ff-rubik);
}
html {
    color: black;
    font-size: 1rem;
    font-family: var(--ff-rubik);
}

a{
    color: white;
    text-decoration: none;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.bg-grey {
    background-color: var(--clr-gray);
}

.bg-blue {
    background-color: var(--clr-blue);
}

.bg-light-blue {
    background-color: var(--clr-blue-light);
}

.color-grey {
    color: #a0a3a7;
}

.color-blue {
    color: var(--clr-blue);
}

.border-grey {
    border-color: #a0a3a7;
}

.border-blue {
    border-color: var(--clr-blue) !important;
}

.txt-blue {
    color: var(--clr-blue);
}

.breadcrumb-item {
    margin-bottom: 12px;
}

.top-10 {
    top: 10px !important;
}

.top-15 {
    top: 15px !important;
}

.w-40px {
    width: 40px;
}

.top-25 {
    top: 25px;
}

.right-25 {
    right: 25px;
}

.pt-66 {
    padding-top: 66px;
}

.header{
    background-color: var(--clr-black);
    width: 100%;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header .container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr;
    row-gap: 18px;
    padding: 0 15px;
}

.header__logo {
    grid-column: 3 / 11;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
}

.header__search {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    position: relative;
}

.header__search .btn {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    max-width: max-content;
}

.header__cta {
    grid-column: 10 / -1;
    grid-row: 1 / 1;
    display: flex;
    justify-content: flex-end;
}

.nav__toggle {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}


.language__dropdown{
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background-color: transparent;
}

.language__dropdown .btn{
    color: white;
}

.all-products {
    margin-left: -30px;
}

.main-menu {
    grid-column: 2 / 7;
    grid-row: 2 / 2;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

/* #navbarSupportedContent::after {
    content: "";
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    opacity: 0.5;
    z-index: 1;
  } */

  .header {
    z-index: 99;
    position: relative;
  }

  .menu-overlay {
    background: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    position: fixed;
    display: none;
  }

  .disp {
    display: flex !important;
  }

  .nav-product-list {
    padding-left: 0;
  }

  .navbar-collapse {
    transition: none;
  }

  .collapsing {
    transition: none;
  }


  @media (min-width:768px) {
    .menu--main #collapseExample {
        gap: 0px !important;
    }

    .all-categories {
        display: flex !important;
        padding-left: 10px !important;
    }

    .all-categories > li {
        padding: 12px 0 !important;
        border-bottom: 1px solid #e2e3e4;
    }

    .all-categories li a {
        font-weight: 400 !important;
    }

    .all-categories li svg {
        display: none !important;
    }

    .menu--main .menu__item[aria-expanded="true"] {
        margin-left: 0 !important;
    }

    .nav-category-list {
        position: absolute;
        left: 100%;
        width: 50vw;
        background: #fff;
        top: 0;
    }

    .nav-category-list > div {
        display: grid !important;
        /* flex-direction: column; */
        grid-row-gap: 20px;
        text-align: center;
        margin: 12px;
        padding: 60px 45px 24px 45px;
    }

    .header-button-wrapper {
        display: grid !important;
    }

    .nav-category-list img {
        height: 103px;
        width: 175px;
        object-fit: contain;
        margin: 0 auto;
    }

    .nav-product-list {
        display: grid !important;
        grid-template-columns: repeat(1, auto);
        padding-top: 10px;
        padding-left: 12px;
    }

    .nav-category-list > div h3 {
        grid-row: 2;
    }

    .nav-category-list > div .btn {
        grid-row: 4;
    }

    .nav-category-list > div img {
        grid-row: 1;
    }

    .nav-category-list > div p {
        grid-row: 3;
    }

    .close-btn {
        position: absolute;
        top: 21px;
        right: 27px;
    }

  }

  @media (min-width: 1024px) {
    .all-categories {
        padding-left: 30px !important;
    }

    .nav-category-list {
        left: 100%;
        width: 700px;
      }

      .nav-category-list > div {
        /* display: flex !important;
        flex-direction: row; */
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        margin: 5px;
        padding: 45px 45px 35px 45px;
    }

    .nav-category-list > div h3 {
        grid-row: 1;
        grid-column: 1;
    }

    .nav-category-list > div .btn {
        grid-row: 2;
        grid-column: 1;
    }

    .nav-category-list > div img {
        grid-row: 1 / 3;
        grid-column: 2;
    }

    .nav-category-list > div p {
        grid-row: 1 / 3;
        grid-column: 3;
    }

    .header-button-wrapper {
        display: flex !important;
        flex-direction: column;
    }

    .close-btn {
        top: 10px;
        right: 14px;
    }

    .nav-product-list {
        grid-template-columns: repeat(2, auto);
        padding-top: 30px;
        padding-left: 40px;
    }

  }
  
  

.language__dropdown .btn::after{
    border: 0;
    content: url("data:image/svg+xml,%3Csvg width='20' height='11' viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.98957 0.379941C0.49957 0.869941 0.49957 1.65994 0.98957 2.14994L9.29957 10.4599C9.68957 10.8499 10.3196 10.8499 10.7096 10.4599L19.0196 2.14994C19.5096 1.65994 19.5096 0.869941 19.0196 0.379941C18.5296 -0.110059 17.7396 -0.110059 17.2496 0.379941L9.99957 7.61994L2.74957 0.369943C2.26957 -0.110057 1.46957 -0.110059 0.98957 0.379941Z' fill='white'/%3E%3C/svg%3E%0A");
}

.txt-black {
    color: var(--clr-black);
}

.card__description{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.menu--main {
    position: absolute;
    background-color: white;
    z-index: 100;
    font-weight: 600;
    width: 85%;
    height: 100vh;
    left: 0;
    top: 82px;
    bottom: 0;
    padding: 24px 12px;
}

.item-count {
    margin-left: 5px;
}

.flex-even {
    flex: 1;
}

.introduction {
    /* padding: 24px 12px; */
    padding: 24px 0px;
}

.introduction h1 {
    margin: 0;
    font-weight: 500; 
    font-size: 24px;
}

.introduction__content{
    line-height: 21px;
    /* padding: 0 12px 36px 12px; */
    font-size: 14px;
    padding-right: 30px;
}

.team--introduction{
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    text-align: center;
    padding: 36px 0 24px;
}

.teammember--list{
    padding: 0 20px;
    display: grid;
    gap: 1.5rem;
}

.team__name{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.team__description{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0.5rem;
}


.moto{
    background-color: #D9EBFF;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 18px 0;
    justify-content: center;
}

.moto__container{
    position: absolute;
    height: 130px;
    width: 100%;
    max-width: 80%;
    border-radius: 4px;
    align-items: center;
    display: flex;
    background-color: white;
    justify-content: center;
    transform: rotate(3.99deg);
    flex-wrap: wrap;
}

.moto__subtitle{
    line-height: 21px;
    font-weight: 400;
    height: auto;
    width: 80%; 
    padding-right: 20%;
    margin-bottom: -6%;
    text-align: center; 
}

.moto__title{
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    height: auto; 
    max-width: 60%;
    text-align: center;
    margin-bottom: 8%;
}

.moto__pin{
    width: 20%;
    position: relative;
    top: -20px;
    left: 10px;
}

.map-header {
    padding: 36px 0 24px;
}

.map-header h2 {
   font-weight: 500; 
   font-size: 24px;
   text-align: center;
   margin: 0;
}

.mapouter {
    background-color: #fff;
    padding: 10px;
    position:relative;
    text-align:right;
    width:100%;
    margin-bottom: 45px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:250px;
}

.gmap_iframe {
    height: 250px!important;
}


@media (min-width: 768px) {

    .header .container {
        padding: 0 30px;
    }

    .moto {
        height: 263px;
    }

    .moto__container {
        width: 330px;
    }

    .teammember--list {
        display: grid;
        gap: 1.5rem;
      }

      .teammember--list {
        grid-template-columns: repeat(2, auto);
        gap: 20px;
    }

    .menu--main {
        width: 40%;
    }
}

@media (min-width: 1024px) {

    .header .container {
        padding: 0 45px;
    }

    .teammember--list {
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }

    .mw-1080 {
        max-width: 1080px !important;
    }

    .team--introduction {
        padding: 64px 0 48px;
    }

    .map-header {
        padding: 64px 0 48px;
    }

    .gmap_canvas {
        height: 308px;
    }

    .gmap_iframe {
        height: 308px !important;
    }

    .menu--main {
        width: 20%;
    }
}

@media (min-width: 1440px) {
    .header__logo {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        justify-content: flex-start;
    }

    .header__search {
        grid-column: 7 / 10;
        grid-row: 1 / 1;
    }

    .nav__toggle {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }
    
    .menu--main {
        display: block;
        grid-column: 2 / -1;
        grid-row: 2 / 2;
        top: 145px;
        
    }

    .language__dropdown {
        grid-column: 3 / 4;
        margin-left: -30px;
        width: fit-content;
    }

    .dropdown-menu.show {
        border: none;
    }

    .introduction__content{
        padding-right: 30px;
    }

    .introduction {
        padding: 0 0 15px;
    }

    .map h2 {
        text-align: center;
    }

    .mapouter {
        padding: 44px 102px;
        height: auto;
      }

}


.form__control--search {
    display: inline-block;
    border-radius: 2px;
    width: 100%;
    padding: 10px 18px;
    font-size: 14px;
    line-height: 140%;
    border: none;
}

.form__control--search::placeholder {
    color: var(--clr-black);
}

.form__control--search:focus {
    outline: none;
}

.container--slider{
    background-color: #D9EBFF;
    height: 280px;
    max-height: 280px;
    margin: 0 70px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.btn--link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 12px;
    font-weight: 500;
}

.btn--link--product {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.btn--link:hover,
.btn--link:focus {
    text-decoration: underline;
}
.menu--main ul {
    display: flex;
    list-style: none;
    /* gap: 24px; */
    margin: 0;
}
.menu--main .menu__item {
    color: var(--clr-black);
    line-height: 140%;
    font-size: 14px;
    text-decoration: none;
}

.menu--main .menu__item[aria-expanded="true"] {
    margin-left: 20px;
}

.menu--main .menu__item[aria-expanded="true"] ~ svg {
    position: absolute;
    rotate: 180deg;
}

.footer__item {
    font-size: 16px;
    list-style: none;
    color: white;
    line-height: 140%;
    font-size: 14px;
    text-decoration: none;
}

.banner{
    background-color: var(--clr-yellow);
    padding-top: 14px;
    padding-bottom: 14px;
    display: none;
}

.btn--text {
    background: none;
    border: none;
    cursor: pointer;
}

.slider{
    background-color: var(--clr-blue-light);
    min-height: 280px;
    margin: 0 12px 42px 12px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    position: relative;
    padding: 20px 30px;

}

.slider__header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.slider__title{
    font-size: 24px;
    line-height: 130%;
    font-weight: 500;
    margin-bottom: 8px;
}

.slider__subtitle{
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 8px;
}

.slider__description > p {
    margin-bottom: 5px;
}

.slider__flag {
    height: 80px;
    width: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.slider__flag > svg {
    max-width: 100%;
    height: auto;
}

.slider__flag>* {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.slider__flag>p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.slider__image {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 40px 40px 0 40px;
}

.slider__description {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
    text-align: center;
    line-height: 150%;
    margin-top: 20px;
}

.slider--content{
    display: flex; 
    align-items: center; 
    width: 100%; 
    justify-content: space-around; 
    text-align: center;
}

.btn--slider{
    background-color: var(--clr-blue);
    color: white;
    border-radius: 200px;
    width: 195px;
    height: 52px;
    gap: 10px;
    border-style: none;
    cursor: pointer;
    margin-top: 10px;
}

.slider__arrow{
    --_offset: 10px;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    cursor: pointer;
    background: none;
    border: none;
}

.slider__arrow--left {
    left: var(--_offset);
}

.slider__arrow--right {
    right: var(--_offset);
}

.team{
    display: grid;
    background-color: white;
    padding: 24px 34px;
    border-radius: 4px;
}

.product{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 4px;
    gap: 12px;
    padding: 18px 30px 24px 30px;
}

.product-shop{
    display: flex;
    margin-top: 10px;
}

.btn {
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.btn--product {
    background-color: white;
    color: var(--clr-blue);
    border-color: #407CEA;
    border-radius: 4px;
    border: 1px solid;
    font-weight: 600;
}

.btn--cart {
    width: 50px;
    background-color: var(--clr-blue);
    border-style: none;
    padding: 6px;
    border-radius: 4px;
}

.slider-text{
    padding: 6px 0;
    font-size: 24px;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-bottom: 90px;
}
.slider-text-left{
    min-width: 345px; 
    display: flex; 
    position: relative;
    justify-content: center;
}

.slider-text-right{
    min-width: 400px;
}

.slider-produsct-name{
    display: grid;
    grid-template-columns: 1fr; 
    min-width: 345px;
}

@media (min-width: 768px) {

    .slider {
        grid-template-columns: repeat(2, 1fr);
    }

    .slider__header {
        grid-column: 1 / 2;
        grid-row: 1;
        position: unset;
        justify-content: end;
    }

    .slider__description {
        grid-column: 1 / 2;
        grid-row: 2;
      }

    .slider__image {
        grid-column: 2 / 2;
        grid-row: 1 / 3;
        padding: 20px;
    }

    .slider__flag {
        position: absolute;
        left: 58%;
        top: 20%;
    }

    

}

@media (min-width: 1024px) {
    
}

@media (min-width: 1440px) {
    .slider {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 0 72px;
        padding: 20px 50px;
      }

    .slider__header {
        margin-bottom: 30px;
        position: relative;
      }

    .slider__title {
        font-size: 36px;
        line-height: 140%;
        margin: 0;
      }

    .slider__subtitle {
        font-size: 36px;
        line-height: 140%;
    }

    .slider__flag {
        /* height: 100px;
        width: 100px; */
        position: absolute;
        /* bottom: -110px; */
        width: 128px;
        height: 133px;
        bottom: -160px;
        left: unset;
        top: unset;
    }

    .slider__flag > p {
        margin-top: -20px !important;
        font-size: 2rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .slider__image {
        padding: 0 20px;
      }

      .slider__image .img-fluid {
        max-width: 281px;
    }

    .slider__description > p {
        font-size: 24px;
        line-height: 140%;
        margin: 0;
    }
}


.products .product {
    background-color: white;
    border-radius: 4px;
    padding: 12px;
}

.products .product-shop {
    display: flex;
    margin-top: 10px;
    gap: 9px;
}

.products .state {
    border-radius: 2px;
    background-color: var(--clr-red-light);
    padding: 6px 12px;
    width: max-content;
}

.products .image {
    display: flex;
    justify-content: center;
}

.products .image img {
    object-fit: cover;
    width: 130px;
}

.products .storage {
    font-size: 14px;
    top: 6px;
    left: 12px;
    height: 20px;
}

.products .description {
    font-size: var(--ff-rubik);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 10px;
}

.products .prize {
    font-weight: 600;
    font-size: 18px;
    color: var(--clr-black);
    margin-right: 10px;
}

.products .old-prize {
    font-weight: 300;
    font-size: 18px;
    color: var(--clr-black);
    text-decoration: line-through;
}

.product__state {
    font-size: 12px;
    padding: 2px 6px;
    line-height: 17px;
}

.product__state--saabumas {
    background-color: var(--clr-yellow-light);
}

.product__state--laos {
    background-color: var(--clr-green-light);
}

.product__state--tellimisel {
    background-color: var(--clr-red-light);
}

@media (min-width: 1440px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
    }

    .card__description {
        font-size: 16px;
        line-height: 140%;
    }

    .products .product {
        padding: 18px 30px 24px 30px;
      }

}

@media (min-width: 768px) {

    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product {
        grid-template-columns: 1fr;
    }

    .products .product-shop {
        margin-top: 10px !important;
    }

    .card__description {
        margin-bottom: 10px !important;
    }

    .products .product {
        padding: 18px 18px 24px 18px;
    }

    /* .d-lg-block {
        display: block !important;
    } */

    .d-lg-none {
        display: none !important;
    }
}

.product-categories h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    padding-bottom: 24px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
}

.category {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 3px 9px rgba(0, 0, 0, 0.04);
    padding: 12px 20px 18px 12px;
}

.categories a {
    color: var(--clr-black);
}

.category__name h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    margin: 0;
}

.category img {
    /* width: 247px;
    height: 215px; */
    object-fit: contain;
}

@media (min-width: 768px) {
    .categories {
        grid-template-columns: repeat(3, auto);
        gap: 15px;
    }
}

@media (min-width: 1024px) {
    .categories {
        grid-template-columns: repeat(4, auto);
        gap: 24px;
    }

    .category {
        padding: 18px 30px 24px 30px;
    }

    .product-categories h1 {
        padding-bottom: 48px;
    }

}

/*//////// Single product ////////*/

.single-product-thumbnails li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.single-product-thumbnails li:hover {
    border: 1px solid #b7babd;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

  .value-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 49px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: 1px solid #b7babd;
    margin: 0px;
    width: 92px;
    height: 49px;
  }

  .related-products .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 0;
  }

@media (min-width: 768px) {
    .related-products .products {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
    .single-mobile-price-wrapper {
        position: fixed;
        background: #fff;
        width: 100%;
        border-top: 1px solid #d0d1d3;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 15px 15px 15px;
    }
}

/*///// Added to cart popup //////*/

.sidecart {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow: auto !important;
    right: -768px;
    z-index: 9000;
    /* transition: 0.2s ease; */
  }
  
  .open-cart {
    right: 0px !important;
  }

  .open-cart:after {
    content: '';
    position: fixed;
    top: 0px;
    width: 0px;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
  }

  .sidecart input#number {
    width: 80px;
  }

  .sidecart .checkout-thumbnail {
    width: 190px;
    height: 190px;
}

  @media (min-width: 768px) {
    .sidecart {
        width: 500px;
        min-width: 500px;
        right: -500px;
    }

    .open-cart:after {
        width: calc(100vw - 500px);
      }

  }

  @media (min-width: 1024px) {
    .sidecart {
        width: 400px;
        min-width: 400px;
        right: -400px;
    }

    .open-cart:after {
        width: calc(100vw - 400px);
      }

      .sidecart .checkout-thumbnail {
        width: 90px;
        height: 90px;
    }
  }

  @media (max-width: 400px) {
    .sidecart {
      width: 100vw;
      right: -100vw;
    }
  }

/*///////////////// Soodustooted ////////////////////////*/

.filter-wrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.sale-page-title {
    grid-column: 1;
    grid-row: 1 / 2;
}

.filter {
    grid-column: 1;
    grid-row: 2 / 2;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding-bottom: 90px;
}

.products__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 13px;
    padding-bottom: 90px;
}

table.products-table thead tr th {
    padding: 10px 15px 0 15px;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .filter-wrapper {
        grid-template-columns: repeat(2, auto);
        gap: 24px;
    }
    
    .sale-page-title {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .filter {
        grid-column: 1 / 3;
        grid-row: 2 / 2;
    }
    
    .layout-btns {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
    }

    .products__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        padding-bottom: 90px;
    }
}

@media (min-width: 1200px) {
    .filter-wrapper {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        gap: 0;
    }
    
    .sale-page-title {
        grid-column: 1 / 1;
        grid-row: 1;
    }
    
    .filter {
        grid-column: 2 / 2;
        grid-row: 1;
    }
    
    .layout-btns {
        grid-column: 3 / 3;
        grid-row: 1;
    }

    .products__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        padding-bottom: 90px;
    }
}
  

/*///////////////// Kaubamärgid ///////////////////*/

  .bottom-border-box {
    padding: 24px 0;
    border-bottom: 1px solid #d0d1d3;
  }

  .bottom-border-box__gap {
    gap: 20px 0;
  }

  @media (min-width:768px) {
    .w-md-25 {
        width: 25% !important;
    }

    .bottom-border-box__gap {
        gap: 24px 0;
    }

    .bottom-border-box {
        padding: 36px 0;
      }
}

/*////////// Ostukorv /////////////*/

.checkout-thumbnail {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

table.products-table td {
    padding: 10px 15px;
    vertical-align: middle;
}

table.products-table {
    border-collapse: separate;
    border-spacing: 0 12px;
}

table.checkout-price-table td, 
table.checkout-price-table th {
    padding: 10px 0;
}

.bb-grey {
    border-bottom: 1px solid #e2e3e4;
}

@media (max-width:768px) {
    table.products-table tr,
    table.products-table td {
        display: block;
    }
    
    table.products-table tr {
        margin-bottom: 12px;
        position: relative;
    }

    table.products-table tr:last-of-type {
        margin-bottom: 0;
    }

    .product-remove {
        position: absolute;
        top: 0;
        right: 0;
    }

    .product-price {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


/*////////// Kassa //////////////*/

input.input-text:focus ~ .floating-label {
    top: 3px;
    bottom: 10px;
    left: 12px;
    font-size: 10px;
    font-weight: 400;
    opacity: 1;
}

.input-text {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 44px;
    border: 1px solid #c3c6c8;
    border-radius: 2px;
    padding: 10px 10px 0 10px;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 12px;
    font-weight: 400;
    font-size: 14px;
    transition: 0.2s ease all;
    color: #c3c6c8;
}

input:focus-visible {
    outline: none;
}

.light-grey {
    color: #c3c6c8;
}

.different-address {
    display: none;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1px solid #c3c6c8;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 2px;
}

input[type="checkbox"]:checked {
    background-color: #121a23;
    background-clip: border-box;
    background-image: url("/images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #121a23;
}

/* #shipping ul {
    list-style: none;
} */

#shipping ul li {
    border-bottom: 1px solid #c3c6c8;
}

#shipping ul li:last-of-type {
    border-bottom: none;
    padding-bottom: 0 !important;
}

#shipping ul li:first-of-type {
    padding-top: 0 !important;
}

#shipping ul li input {
    margin-top: 3px;
    margin-right: 15px;
}

.form-select:focus {
    border-color: #c3c6c8 !important;
    box-shadow: none !important;
}

input.shipping-method[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: #121A23;
    width: 18px;
    height: 18px;
    border: 1px solid #121A23;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input.shipping-method[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 10px 10px #121A23;
}

input.shipping-method[type="radio"]:checked::before {
    transform: scale(0.9);
}

@media (max-width: 991px) {
    .shipping-img {
        display: none;
    }
}
  

/*////////////*/

/*/////////// Küpsised //////////////*/

#cookie-banner { 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    max-width: 863px;
    z-index: 999; 
    border-radius: 0; 
    margin: 0 auto;
    display: none; 
} 

#cookie-banner::before {
    content: "";
    background: black;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
    opacity: 0.5;
    /* z-index: -1; */
  }

/*////////////////*/

.footer{
    background-color: var(--clr-black);
    color: white;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 36px 36px 50px;
}

@media (min-width: 1440px) {
    .footer .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.footer-info{
    padding: 96px 274px;
    display: grid;
    width: 900px;
    gap: 10px;
    grid-template-columns: repeat(4,200px);

}

.footer-col{
    margin-bottom: 18px;
}

.footer-col > * +* {
    margin-top: 10px;
    width: 200px;

}

.footer-heading{
    font-weight: 600;
    margin-bottom: 22px;
}

/* @media (min-width: 1024px) {
    .container {
        max-width: 960px;
        margin-inline: auto;
    }


} */

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}




@media (min-width: 1440px) {
    .container {
        max-width: 1300px;
    }
}

.h2{
    padding: 6px 0;
    font-size: 36px !important;
    line-height: 47px;
}

.h3{
    padding: 6px 0;
    
}
.flex {display: flex}

.items-center {align-items: center;} 

.mr-20 {margin-right: 20px;}
.mr-40 {margin-right: 40px;}
.mr-48 {margin-right: 48px;}
.mr-100 {margin-right: 100px;}
.mt-20 {margin-top: 20px;}
.mr-auto {margin-right: auto;}
.ml-auto {margin-left: auto;}
.ml-55 {margin-left: 55px;}
.mb-130 {margin-bottom: 130px;}
.mb-40 {margin-bottom: 40px;}

.gap-10 {gap: 10px}

/* * {outline:solid 1px red} */

@media (min-width: 768px) {
    .fs-lg-14 {
        font-size: 14px;
    }

    .fs-lg-16 {
        font-size: 16px;
    }

    .fs-lg-18 {
        font-size: 18px;
    }

    .fs-lg-24 {
        font-size: 24px;
    }

    .mr-40 {
        margin-right: 40px;
    }

}

@media (min-width: 992px) {
        .w-lg-auto {
        width: auto !important;
    }

    .border-top-lg-0 {
        border-top: 0 !important;
    }
}



